# Countdown+ Sample Env File
# For more on docker env files:  https://docs.docker.com/compose/env-file/

########################
# Global configuration #
########################
# Docker Compose Config
# https://docs.docker.com/compose/reference/envvars/
COMPOSE_PROJECT_NAME=countdownplus

# AWS
AWS_ACCESS_KEY_ID=<aws access key here>
AWS_SECRET_ACCESS_KEY=<aws secret access here>
AWS_REGION=<aws operation region here>
AWS_S3_CDN_BUCKET=<cdn bucket>

#########################
# Backend configuration #
#########################
# App Config
SCHEME=http
HOST=localhost
SECRET_KEY_BASE=<elixir secret key base>
DATABASE_URL=postgres://postgres:postgres@docker.for.mac.host.internal/countdownplus_dev
LEGACY_DATABASE_URL=postgres://postgres:postgres@docker.for.mac.host.internal/cplus_dev
POOL_SIZE=10

# Admin Credentials
ADMIN_EMAIL=<seeded admin email>
ADMIN_PASSWORD=<admin password>
EDITOR_PASSWORD=<countdownplus username passwword>

# CDN
CDN_URL=<cdn url pointing to bucket>

# Facebook config
# https://developers.facebook.com/
FACEBOOK_KEY=
FACEBOOK_SECRET=

# Google config
# https://console.developers.google.com
GOOGLE_KEY=
GOOGLE_SECRET=
# Google analytics account id
GOOGLE_ACCOUNT_ID=

# Instagram config
# https://instagram.com/developer/
INSTAGRAM_KEY=
INSTAGRAM_SECRET=

# New Relic
NEW_RELIC_APP_NAME=
NEW_RELIC_LICENSE_KEY=

# Oban
OBAN_LICENSE_KEY=

# Twitter config
# https://apps.twitter.com/
TWITTER_KEY=
TWITTER_SECRET=

##########################
# ImgProxy configuration #
##########################
# IMGPROXY_USE_S3=true
IMGPROXY_KEY=
IMGPROXY_SALT=
# development only
IMGPROXY_IGNORE_SSL_VERIFICATION=true
IMGPROXY_DEVELOPMENT_ERRORS_MODE=true