# @See:
#   https://stackoverflow.com/questions/21258870/using-environment-properties-with-files-in-elastic-beanstalk-config-files
#   https://serverfault.com/questions/675217/getting-files-from-an-s3-bucket-using-iam-role-credentials/678032#678032
Resources:
  AWSEBAutoScalingGroup:
    Metadata:
      AWS::CloudFormation::Authentication:
        S3Access:
          type: "s3"
          buckets: ["appsbeyond-configs"]
          roleName: aws-elasticbeanstalk-ec2-role