# Elastic beanstalk deployment options
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.rolling-version-deploy.html
# At some point utilize immutable deployments for a blue green deployment approach
# HealthCheckSuccessThreshold is default Ok, but we'll settle for Warnings for now
option_settings:
  aws:elasticbeanstalk:command:
    DeploymentPolicy: AllAtOnce
    HealthCheckSuccessThreshold: Warning
    IgnoreHealthCheck: true
    Timeout: "900"