# Elastic beanstalk with docker compose always defaults to no proxy server.
# It assumes there's a proxy container
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker.container.console.html#docker-software-config
# https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/create_deploy_docker.container.console.html#docker-namespaces
option_settings:
  aws:elasticbeanstalk:environment:proxy:
    ProxyServer: none