# Elastic beanstalk instances
option_settings:
  aws:ec2:instances:
    InstanceTypes: m7a.medium,t3.small
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.managing.ec2.html#using-features.managing.ec2.namespace
  aws:autoscaling:launchconfiguration:
    SecurityGroups: cplus-webservers
    MonitoringInterval: "5 minute"
    DisableIMDSv1: true
    EC2KeyName: countdownplus-us-east-1-prod
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
  # https://docs.aws.amazon.com/elasticbeanstalk/latest/dg/using-features.managing.as.html
  aws:autoscaling:asg:
    Availability Zones: Any
    Cooldown: '300'
    MaxSize: '1'
    MinSize: '1'